@model Recurrence.Models.Job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Job</legend>

    <div class="display-label">When</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.When)
    </div>

    <div class="display-label">Method</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Method)
    </div>

    <div class="display-label">Attempts</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Attempts)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.JobId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
